#editor.toggle
    a.editor-toggler Toggle the editor
    h2.heading Editor 
        | : 
        span.screen-title=obj.content.title
    ul.tabs-bar
        li.active
            a(href="#editor-json") JSON
        li
            a(href="#editor-help") Help
        li
            a(href="#editor-publish") Publish

    #editor-json.tabs-pan.active
        .tr.editor-actions
            button.btn.btn-preview.right10             
                i.icon-refresh.right10
                | Preview
            button.btn.btn-save.important 
                i.icon-upload.icon-white.right10
                | Save 

        textarea(name="config")
            !=JSON.stringify(obj.content, null, 4)
    
    #editor-help.tabs-pan
        article!="" + getPage("help")
    
    #editor-publish.tabs-pan
        article
            .bottom30
                h4 Public address
                button.btn.clipboard-copier.disabled.right10(data-clipboard-text=publicURL(obj),title="Click to copy me.") Copy
                code
                    a(href=publicURL(obj))=publicURL(obj)  
                p.top10
                    .pull-left.right10.fb-like(data-href=publicURL(obj), data-send='true', data-layout='button_count', data-width='120', data-show-faces='false', data-font='verdana', data-action='recommend')
                    a.twitter-share-button(href='https://twitter.com/share', data-url=publicURL(obj), data-related='jplusplus_') Tweet


            .bottom30.embed
                button.btn.pull-left.right10.clipboard-copier(data-clipboard-target="editor-embed", title="Click to copy me.") copy
                h4.top20.bottom20 Embed 
                textarea#editor-embed(readonly)
                    iframe(width=obj.content.width, height=obj.content.height, src=publicURL(obj), frameborder=0, allowfullscreen)

            .bottom30
                h4 Admin address
                p This address enables you to edit this page. Keep it in your bookmarks and above all: <strong>do not share it.</strong>
                button.btn.clipboard-copier.disabled.right10(data-clipboard-text=privateURL(obj),title="Click to copy me.") Copy
                code
                    a(href=privateURL(obj))=privateURL(obj)
#fb-root
script
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
script
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');