.nav(class=obj.content["menu-position"] || "top left")
    ul.steps
        if obj.content.steps
            each step, stepKey in obj.content.steps       
                li(class=(step["no-index"] ? "hidden":""))
                    a.to-step(href="#step="+stepKey, data-step=stepKey)
                        span.wrapper=stripTags(step.name)
                        if step["menu-icon"]
                            i(style="background-image:url('#{step["menu-icon"]}')").with-icon=stepKey
                        else
                            i=stepKey
                        
    ul.arrows
        li
            a.previous(title="Précendent") ❰
        li
            a.next(title="Suivant") ❱
