#user-menu(class=errorLogin.length || errorSignup.length ? "open" : "")
  a.menu-handle
  .wrapper  
    unless user
      .forms
        .foldable.logIn(class=errorSignup.length ? "fold" : "")
          a.handle Already an account?
          .content
            include login-form

        .foldable.signUp(class=errorSignup.length ? "" : "fold")
          a.handle Create an account
          .content
            include signup-form
    else
      ul.unstyled.links
        li.hola Hola #{user.username}!        
        li
          a(href="/user/#{user.username}") 
            | Your profile  
            i.icon.icon-user.icon-white        
        li
          a(href="/create")
            | New player
            i.icon.icon-file.icon-white
        li
          a(href="/logout") 
            | Logout
            i.icon.icon-off.icon-white