#user-menu(class=errorLogin.length || errorSignup.length ? "open" : "")
  a.menu-handle
  .wrapper  
    unless user
      .forms
        .foldable(class=errorSignup.length ? "fold" : "")
          a.handle Already an account?
          .content
            include login-form

        .foldable(class=errorSignup.length ? "" : "fold")
          a.handle Create an account
          .content
            include signup-form
    else
      ul.unstyled.links
        li.hola Hola #{user.username}!
        li
          a(href="/user/#{user.username}") My gallery
        li
          a(href="/logout") 
            | Logout
            i.icon.icon-off.icon-white