extends ../layouts/slider
include ../mixins

block slider
    #workspace
      - navigation = obj.content.navigation || "horizontal"
      #overflow(data-navigation=navigation,  class=overflowClass(obj.content), style=screenStyle(obj.content))    
        include ../widgets/tabs.jade            
        #container(class=containerClass(obj.content) )
          if obj.content.steps
            each step, stepKey in obj.content.steps
                .step(style=stepStyle(step), class=step.class, data-step=stepKey)
                    +stepContent(step, stepKey)
        include ../widgets/credits


block scripts
  !=js(editMode ? "layouts" : "Tabs")
  :coffeescript
    # Basic instantation
    $(window).load -> window.interactive = new window.Tabs()