doctype 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7.ie
//if IE 7
  html.no-js.lt-ie9.lt-ie8.ie
//if IE 8
  html.no-js.lt-ie9.ie
//[if gt IE 8]><!
html
  //<![endif]
  head
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
    meta(name="viewport",content="width=1200")
    meta(charset="utf-8")
    if typeof data.title !== "undefined"
        title=data.title

    block stylesheets
    !=css("style")

  body.js-loading(class=page + (editMode ? " editor-mode" : ""), data-page=page)

    #old-browser
        h4 Votre navigateur <strong>est trop ancien</strong>
        p <a href="http://browsehappy.com/">Mettez à jour votre navigateur</a> ou <a href="http://www.google.com/chromeframe/?redirect=true">installez Google Chrome Frame</a> pour accéder à cette page.

    - var navigation = data.navigation || "horizontal"
    #overflow(data-navigation=navigation, class=navigation, style=screenStyle(data))
        include widget/menu.jade
        #container
            block content
                   


    != js('Interactive')

    //- Edit mode
    if editMode
      //- Loads the editor html
      include widget/editor.jade
      //- Loads its library 
      !=js('Editor')

    //- Context scripts    
    block scripts

    
    if NODE_ENV == "production"
      script(type="text/javascript")
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26208352-']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
